[submodule "charlie-captain.github.io"]
	path = charlie-captain.github.io
	url = https://github.com/charlie-captain/charlie-captain.github.io.git
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
